HOST=127.0.0.1
PORT=8787
PUBLIC_ORIGIN=https://fillfromphone.com
DEVELOPMENT_ORIGIN=
DEVELOPMENT_EXTENSION_IDS=
TRUST_PROXY=false
MAX_ACTIVE_SESSIONS=10000
REQUIRE_FIPS=false
ALLOWED_EXTENSION_IDS=
SLOT_ID=B
